# dependências
node_modules

# build Next.js
.next
out

# vercel
.vercel

# env
.env
.env*.local
.env.development.local
.env.test.local
.env.production.local

# typescript
tsconfig.tsbuildinfo
*.tsbuildinfo
.env*
